<div class="container">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-signin"}) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email address", class: "form-control", required: true %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Name", class: "form-control", required: true %>
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "form-control", required: true %>
      <% if @minimum_password_length %>
      <em class="notice-em">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />

      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation", class: "form-control" %>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block btn-signin" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div><!-- /card-container -->
</div><!-- /container -->
<style type="text/css">
  body, html {
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
  }
</style>
